InventoryGUI/Connected Services/WcfServiceReference/Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element minOccurs="0" name="Copies" nillable="true" type="tns:ArrayOfCopy" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="ProductNo" type="xs:int" />
      <xs:element minOccurs="0" name="Supply" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Product" nillable="true" type="tns:Product" />
  <xs:complexType name="ArrayOfCopy">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Copy" nillable="true" type="tns:Copy" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCopy" nillable="true" type="tns:ArrayOfCopy" />
  <xs:complexType name="Copy">
    <xs:sequence>
      <xs:element minOccurs="0" name="SerialNo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Copy" nillable="true" type="tns:Copy" />
  <xs:complexType name="ArrayOfProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Product" nillable="true" type="tns:Product" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProduct" nillable="true" type="tns:ArrayOfProduct" />
</xs:schema>